body{
	background: #0099cc;
}

div{
	text-align: center;
}

/*#uDiv:hover {
    display:block;
    background:#192776;
    width:200px;
    height:200px;
    cursor: pointer;
}*/

#uDiv{
	position: relative;
	right: 0;
	float: right;
	color: #FFFFFF;
	/*border: 1px solid red;*/
	margin-right: 20px;
	font-size: 1em;
	margin-top: 50px;
	padding-right:15px;
  	padding-top:15px;
  	width: 100px;
} 

#uDiv:hover {
    display:block;  
    width:100px;
    height:100px;
    cursor: pointer;
}


#linkC{

	/*border: 1px solid red;*/
	background: #0099cc;
	color: #FFFFFF;
	display: inline-block;
	width: 20%;
	float: left;

}
#mainC{

	background: #0099cc;
	color: #FFFFFF;
	display: inline-block;
	width: 80%;
	height: auto;
	overflow: hidden;
	padding: 20px;

}
/*
#mainC{

	
	display: inline-block;
	width: 80%;
	height: auto;
	overflow: hidden;
	padding: 20px;

}

.card-link{
	color: #7423E8;
}

.nav-link{

	color: #7423E8;
}

input{
	margin: 0;
}
*/


.tabs {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
#tab-button {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#tab-button li {
  display: table-cell;
  width: 20%;
}
#tab-button li a {
  display: block;
  padding: .5em;
  background: #eee;
  border: 1px solid #ddd;
  text-align: center;
  color: #000;
  text-decoration: none;
}
#tab-button li:not(:first-child) a {
  border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
  border-bottom-color: transparent;
  background: #fff;
}
.tab-contents {
  padding: .5em 2em 1em;
  border: 1px solid #ddd;
}



.tab-button-outer {
  display: none;
}
.tab-contents {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .tab-button-outer {
    position: relative;
    z-index: 2;
    display: block;
  }
  .tab-select-outer {
    display: none;
  }
  .tab-contents {
    position: relative;
    top: -1px;
    margin-top: 0;
  }
}







form {
  width: 60%;
  margin: 60px auto;
  background: #efefef;
  padding: 60px 120px 80px 120px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
label {
  display: block;
  position: relative;
  margin: 40px 0px;
}
.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  color: rgb(120,120,120);
  transition: ease .3s;
}
.input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #0099cc;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #0099cc;
  transition: ease .6s;
}

.input:focus + .line-box .line {
  width: 100%;
}

.label-active {
  top: -3em;
}

button {
  display: inline-block;
  padding: 12px 24px;
  background: #0099cc;
  font-weight: bold;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease .3s;
}

button:hover {
  background: #0099cc;
  color: #ffffff;
}

.tcard tr>td>a{

	color: white;
}
.tcard {
  margin-left: 20%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;

}

.tcard td,th{
	padding: 10px;
}

.tcard th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}

.tcard:hover {
  
}





/*checkbox css*/

